@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gradient {
  background-color: #121212;
  background: linear-gradient(rgba(255, 255, 255, 0.1) 0%, rgb(0, 0, 0) 100%);
}

.bg-custom {
  background: rgba(255, 255, 255, 0.1);
}

.border-box-shadow {
  box-shadow: inset 0 0 0 1px var(--essential-subdued, #818181);
}

/* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
/** {
  scrollbar-width: thin;
  scrollbar-color: #397524 #DFE9EB;
}*/

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 8px;
  width: 5px;
}

*::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #515151;
}
